@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import "tailwindcss";
@import "./hamburger.css";
@import "./cards.css";
@import "./animista.css";

/* reset */

@layer base {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}

@theme {
	/* html */

	--text-reset: 62.5%;

	/* colors */

	--color-primary: #c3af9a;
	--color-secondary: #af6f61;
	--color-dark: #4d4639;
	--color-bright: #ece9e7;

	/* fonts */

	--font-poppins: "Poppins", sans-serif;
	--font-parisienne: "Parisienne", cursive;

	/* animations */

	--animate-slide-down: slide-down 1.5s ease-in-out;

	@keyframes slide-down {
		0% {
			opacity: 0;
			transform: translateY(-40px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
